// Web Dev Starter Pack
// Simple, Scalable, and Maintainable Architecture.
//
// Author:   Jack Ryan Oracoy
// Company:  OSP Cebu Corporation
// Email:    jack.oracoy@osp-cebu.com.ph

/*--------------------------------------------------
  Browser Notice
--------------------------------------------------*/

.c-browser-notice {
  padding: 20px;
  color: $white;
  text-align: center;
  background-color: $danger;
}
