// Web Dev Starter Pack
// Scalable and Maintainable Architecture.
//
// Author:   Jack Ryan Oracoy
// Website:  https://jackryanoracoy.github.io
// Email:    jackryanoracoy@gmail.com
// URL:      https://github.com/jackryanoracoy/web-dev-starter-pack
// License:  https://github.com/jackryanoracoy/web-dev-starter-pack/blob/master/LICENSE.txt

/*--------------------------------------------------
  Global reset
--------------------------------------------------*/

*,
*:before,
*:after {
  @include ua-pad-mar-reset;
  @include box-sizing(inherit);

  @media print {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
}
