// Web Dev Starter Pack
// Simple, Scalable, and Maintainable Architecture.
//
// Author:   Jack Ryan Oracoy
// Company:  OSP Cebu Corporation
// Email:    jack.oracoy@osp-cebu.com.ph

/*--------------------------------------------------
  Disyplay
--------------------------------------------------*/

.u-display-inline { display: inline; }
.u-display-block { display: block; }
.u-display-inline-block { display: inline-block; }
