// Web Dev Starter Pack
// Simple, Scalable, and Maintainable Architecture.
//
// Author:   Jack Ryan Oracoy
// Company:  OSP Cebu Corporation
// Email:    jack.oracoy@osp-cebu.com.ph

/*--------------------------------------------------
  Float
--------------------------------------------------*/

.u-float-left { float: left; }
.u-float-right { float: right; }
.u-float-none { float: none; }

@each $breakpoint in map-keys($breakpoints) {
  @include media-breakpoint-min($breakpoint) {
    .u-float-left-#{$breakpoint} { float: left; }
    .u-float-right-#{$breakpoint} { float: right; }
    .u-float-none-#{$breakpoint} { float: none; }
  }
}
