// Web Dev Starter Pack
// Scalable and Maintainable Architecture.
//
// Author:   Jack Ryan Oracoy
// Website:  https://jackryanoracoy.github.io
// Email:    jackryanoracoy@gmail.com
// URL:      https://github.com/jackryanoracoy/web-dev-starter-pack
// License:  https://github.com/jackryanoracoy/web-dev-starter-pack/blob/master/LICENSE.txt

/*--------------------------------------------------
  Hidden
--------------------------------------------------*/

.u-hidden {
  display: none; visibility: hidden;

  @each $breakpoint in map-keys($breakpoints) {
    @include media-breakpoint-min($breakpoint) {
      &-#{$breakpoint}-min { display: none; visibility: hidden; }
    }
  }

  @each $breakpoint in map-keys($breakpoints) {
    @include media-breakpoint-max($breakpoint) {
      &-#{$breakpoint}-max { display: none; visibility: hidden; }
    }
  }
}
