// Web Dev Starter Pack
// Scalable and Maintainable Architecture.
//
// Author:   Jack Ryan Oracoy
// Website:  https://jackryanoracoy.github.io
// Email:    jackryanoracoy@gmail.com
// URL:      https://github.com/jackryanoracoy/web-dev-starter-pack
// License:  https://github.com/jackryanoracoy/web-dev-starter-pack/blob/master/LICENSE.txt

/*--------------------------------------------------
  Width and Height
--------------------------------------------------*/

.u-width-25 { width: 25%; }
.u-width-50 { width: 50%; }
.u-width-75 { width: 75%; }
.u-width-100 { width: 100%; }
.u-max-width-100 { max-width: 100%; }
.u-viewport-width-100 { width: 100vw; }

.u-height-25 { height: 25%; }
.u-height-50 { height: 50%; }
.u-height-75 { height: 75%; }
.u-height-100 { height: 100%; }
.u-max-height-100 { max-height: 100%; }
.u-viewport-height-100 { height: 100vh; }
